<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Form
    body
        form(action="/form", method="post")
            input(type="text", name="username", placeholder="Please enter your username")
            br
            input(type="text", name="password", placeholder="Please enter your password")
            br
            input(type="text", name="gender", placeholder="Please enter your gender")
            br
            input(type="checkbox", name="agree" value="true")
            | I agree to the terms of use
            br
            button(type="submit") Submit
