<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Result
    body
        h1 Result
        table
            tr  
                td Username: 
                td= username
            tr  
                td Gender: 
                td= gender
            tr  
                td Agree: 
                td= agree
            tr  
                td Password: 
                td= password

